# Ignore database and large files
vectorstore/chromadb/*
vectorstore/db_faiss/*
*.sqlite3
*.faiss

# Ignore virtual environments
.env/
venv/
pipenv/
Pipfile.lock

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and cache
*.log
__pycache__/
*.pyc
